:root {
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    color: white;
    background: #103d36;
    display: grid;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #103d36;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #103d36;
}

main {
    padding: 20px;
}

#cup-box {
    display: flex;
    flex-wrap: wrap;
}

.correctLocation {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    margin: 20px;
}

.hidden {
    display: none;
}
